<div class="page-header-block no-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 inverted text-center">
        <h1>
          Hacks and Hackers
          <small>Register your hack and see what other teams are working on!</small>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="features-callout module-divider">
  <div class="container">
    <ul class="list-style-none row margin-bottom-6">
      <% max_lines = @hacks.length / 3 %>
      <% last_line_num = @hacks.length % 3 %>
      <% @hacks.each_with_index do |hack, i| %>
        <% if (i + 1) % 3 == 1 %>
          <div class="row">
        <% end %>
        <% if i / 3 == max_lines %>
          <% if last_line_num == 1 %>
            <% class_for_category = "col-sm-12 col-md-offset-4 col-md-4 margin-bottom-3" %>
          <% else %>
            <% if (i + 1) % 3 == 1 %>
              <li class="col-sm-0 col-md-2 color-transparent">dummy content</li>
            <% end %>
            <% class_for_category = "col-sm-12 col-md-4 margin-bottom-3" %>
          <% end %>
        <% else %>
          <% class_for_category = "col-sm-12 col-md-4 margin-bottom-3" %>
        <% end %>
        <li class="<%= class_for_category %>">
          <h3 class="label h5"><%= hack.name %></h3>
          <div class="h4 small"><%= hack.description %></div>
          <% hack.users.each do |user| %>
            <%= user.first_name %>
          <% end %>
        </li>
        <% if (i + 1) % 3 == 0 || @hacks.length == (i + 1) %>
          </div>
        <% end %>
      <% end %>
    </ul>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-left">
        <%= form_for :hack, url: hackimoto_hacks_path do |f| %>
          <%= f.label :name, "Name", :class => "h6 label" %>
          <%= f.text_field :name %><br />

          <%= f.label :description, "Description", :class => "h6 label" %>
          <%= f.text_area :description %><br />

          <div class="text-center">
            <%= f.submit "Register", :class => "button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="features-callout">
  <div class="container">
    <div class="accent-line dark"></div>
      <h2 class="fc-header">
        Hackers
      </h2>
    <ul class="list-style-none row">
      <% max_lines = User.all.length / 3 %>
        <% last_line_num = User.all.length % 3 %>
        <% User.all.each_with_index do |user, i| %>
          <% if (i + 1) % 3 == 1 %>
            <div class="row">
          <% end %>
          <% if i / 3 == max_lines %>
            <% if last_line_num == 1 %>
              <% class_for_category = "col-sm-12 col-md-offset-4 col-md-4" %>
            <% else %>
              <% class_for_category = "col-sm-12 col-md-offset-2 col-md-4" %>
            <% end %>
          <% else %>
            <% class_for_category = "col-sm-12 col-md-4" %>
          <% end %>
          <li class="<%= class_for_category %>">
            <div data-picture="data-picture" class="fc-image eq-image">
            <img alt="null" src="<%= user.profile_picture %>"></div>
            <h3 class="label h5"><%= user.first_name %> <%= user.last_name %></h3>
          </li>
          <% if (i + 1) % 3 == 0 || User.all.length == (i + 1) %>
            </div>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>