<% new_record = @hackimoto.new_record? %>
<div class="page-header-block ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 inverted text-center">
        <% if new_record %>
        <h1>Create a Hackimoto</h1>
        <% else %>
        <h1>Update Hackimoto</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container margin-bottom-6">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_for @hackimoto do |f| %>
        <%= f.label :name, "Name", :class => "h6 label" %>
        <%= f.text_field :name %>

        <%= f.label :description, "Description", :class => "h6 label" %>
        <%= f.text_area :description %>

        <%= f.label :rule, "Rule", :class => "h6 label" %>
        <%= f.text_area :rule %>

        <%= f.label :is_myagi, "Yeti or Myagi", :class => "h6 label" %>
        <%= f.select :is_myagi, ["YETI", "MYAGI"] %>

        <%= f.label :start_date, "Start date", :class => "h6 label" %>
        <%= f.date_field :start_date, :class => "input" %>

        <div class="text-center">
          <% if new_record %>
          <%= f.submit "Create", :class => "button" %>
          <% else %>
          <%= f.submit "Update", :class => "button" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>