<%= render partial: "top_section", locals: { name: @hackimoto.name, description: @hackimoto.description, start_date: @hackimoto.start_date.strftime("%B %d, %Y") } %>
<% if @hackimoto.categories.length > 0 %>
  <%= render partial: "categories" %>
<% end %>
<% if @hackimoto.rule %>
  <div class="features-callout module-divider">
    <div class="container">
      <div class="accent-line dark"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="fc-header">
            Rules
            <% @hackimoto.rule.split("\n").each do |line| %>
            <small><%= line %></small>
            <% end %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @hackimoto.judge_users.length > 0 %>
  <%= render partial: "judges" %>
<% end %>
<% if @hackimoto.admin_users.length > 0 %>
  <%= render partial: "hackmasters" %>
<% end %>

<div class="container margin-bottom-5">
  <h2 class="text-center margin-top-3">Admin area</h2>

  <h3>Categories</h3>
  <% @hackimoto.categories.each do |category| %>
    <div>
      <div class="pull-left">
        <%= category.name %> - <%= category.description %>
      </div>
      <%= button_to "", hackimoto_category_path({ hackimoto_id: @hackimoto.id, id: category.id }), method: :delete, :class => 'icon-trash input-fix' %>
      <ul class="list-style-none">
        <% category.prizes.each do |prize| %>
          <li>
            <div class="pull-left">
              - <%= prize.rank.ordinalize %> place: $<%= prize.amount %>
            </div>
            <%= button_to "", hackimoto_category_prize_path({ hackimoto_id: @hackimoto.id, category_id: category.id, id: prize.id }), method: :delete, :class => 'icon-trash input-fix' %></li>
        <% end %>
        <li>- <a href="<%= new_hackimoto_category_prize_path({ hackimoto_id: @hackimoto.id, category_id: category.id }) %>" class="blue-link">Create prize</a></li>
      </ul>
    </div>
  <% end %>
  <a href="<%= new_hackimoto_category_path(@hackimoto) %>" class="button button-small margin-top-2">Create category</a>
  <h3 class="margin-top-5">Hacks</h3>
  <% @hackimoto.hacks.each do |hack| %>
    <div class="margin-bottom-1">
      <div class="pull-left">
        <%= hack.name %> - <%= hack.description %>
      </div>
      <%= button_to "", hackimoto_hack_path({ hackimoto_id: @hackimoto.id, id: hack.id }), method: :delete, :class => 'icon-trash input-fix' %>
    </div>
  <% end %>
  <a href="<%= new_hackimoto_hack_path(@hackimoto) %>" class="button button-small no-margin">Create hack</a>
</div>