<%= render partial: "top_section", locals: { name: @hackimoto.name, description: @hackimoto.description, start_date: @hackimoto.start_date.strftime("%B %d, %Y") } %>
<%= render partial: "categories" %>
<style>
  .eq-image img {
    border-radius: 50%;
  }
</style>
<div class="features-callout module-divider">
  <div class="container">
    <div class="accent-line dark"></div>
      <h2 class="fc-header">
        Judges
      </h2>
    <ul class="list-style-none row">
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks@2x_1416857626.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks@2x_1416857626.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"></div>
        <h3 class="label h5">Becky, Head of Customer Owners</h3>
      </li>
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter@2x_1421877025.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter@2x_1421877025.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"></div>
        <h3 class="label h5">Lincoln, Director of Engineering</h3>
      </li>
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain@2x_1421877882.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain@2x_1421877882.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"></div>
        <h3 class="label h5">Sid, VP of Engineering</h3>
      </li>
    </ul>
  </div>
</div>
<div class="features-callout">
  <div class="container">
    <div class="accent-line dark"></div>
      <h2 class="fc-header">
        Hackmasters
      </h2>
    <ul class="list-style-none row">
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks@2x_1416857626.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks@2x_1416857626.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Becky-Brooks_1416857617.jpg"></div>
        <h3 class="label h5">Becky, Head of Customer Owners</h3>
      </li>
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter@2x_1421877025.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter@2x_1421877025.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Lincoln-Ritter_1421877008.jpg"></div>
        <h3 class="label h5">Lincoln, Director of Engineering</h3>
      </li>
      <li class="col-sm-12 col-md-4">
        <div data-picture="data-picture" class="fc-image eq-image">
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain@2x_1421877882.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
          <div data-src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain@2x_1421877882.jpg" data-media="(min-resolution: 144dpi)"></div>
          <noscript>
            &lt;img class="tm-image" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"&gt;
          </noscript>
        <img alt="null" src="https://d14pr3cu5atb0x.cloudfront.net/cms/Siddarth-Jain_1421877868.jpg"></div>
        <h3 class="label h5">Sid, VP of Engineering</h3>
      </li>
    </ul>
  </div>
</div>
<h2>Categories</h2>
<% @hackimoto.categories.each do |category| %>
  <div>
    <%= category.name %> - <%= category.description %> <%= button_to "Delete", hackimoto_category_path({ hackimoto_id: @hackimoto.id, id: category.id }), method: :delete %>
    <ul>
      <% category.prizes.each do |prize| %>
        <li><%= prize.rank.ordinalize %> place: $<%= prize.amount %></li>
      <% end %>
      <li><a href=<%= new_hackimoto_category_prize_path({ hackimoto_id: @hackimoto.id, category_id: category.id }) %>>Create</a></li>
    </ul>
  </div>
<% end %>
<a href=<%= new_hackimoto_category_path(@hackimoto) %>>Create</a>
<h2>Hacks</h2>
<% @hackimoto.hacks.each do |hack| %>
  <div>
    <%= hack.name %> - <%= hack.description %> <%= button_to "Delete", hackimoto_hack_path({ hackimoto_id: @hackimoto.id, id: hack.id }), method: :delete %>
  </div>
<% end %>
<a href=<%= new_hackimoto_hack_path(@hackimoto) %>>Create</a>