<%= render partial: "top_section", locals: { name: @hackimoto.name, description: @hackimoto.description, start_date: @hackimoto.start_date.strftime("%B %d, %Y") } %>
<% if @hackimoto.categories.length > 0 %>
  <%= render partial: "categories" %>
<% end %>
<% if @hackimoto.rule %>
  <div class="features-callout module-divider">
    <div class="container">
      <div class="accent-line dark"></div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="fc-header">
            Rules
            <% @hackimoto.rule.split("\n").each do |line| %>
            <small><%= line %></small>
            <% end %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if @hackimoto.judge_users.length > 0 %>
  <%= render partial: "judges" %>
<% end %>
<% if @hackimoto.admin_users.length > 0 %>
  <%= render partial: "hackmasters" %>
<% end %>

<h2>Categories</h2>
<% @hackimoto.categories.each do |category| %>
  <div>
    <%= category.name %> - <%= category.description %> <%= button_to "Delete", hackimoto_category_path({ hackimoto_id: @hackimoto.id, id: category.id }), method: :delete %>
    <ul>
      <% category.prizes.each do |prize| %>
        <li><%= prize.rank.ordinalize %> place: $<%= prize.amount %></li>
      <% end %>
      <li><a href=<%= new_hackimoto_category_prize_path({ hackimoto_id: @hackimoto.id, category_id: category.id }) %>>Create prize</a></li>
    </ul>
  </div>
<% end %>
<a href=<%= new_hackimoto_category_path(@hackimoto) %>>Create category</a>
<h2>Hacks</h2>
<% @hackimoto.hacks.each do |hack| %>
  <div>
    <%= hack.name %> - <%= hack.description %> <%= button_to "Delete", hackimoto_hack_path({ hackimoto_id: @hackimoto.id, id: hack.id }), method: :delete %>
  </div>
<% end %>
<a href=<%= new_hackimoto_hack_path(@hackimoto) %>>Create hack</a>