<% new_record = @category.new_record? %>
<div class="page-header-block ">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8 inverted text-center">
        <% if new_record %>
        <h1>Create a Category</h1>
        <% else %>
        <h1>Update Category</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container margin-bottom-6">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_for @category, url: new_record ? hackimoto_categories_path : hackimoto_category_path do |f| %>
        <%= f.label :name, "Name", :class => "h6 label" %>
        <%= f.text_field :name %><br />

        <%= f.label :description, "Description", :class => "h6 label" %>
        <%= f.text_field :description %><br />

        <div class="text-center">
          <% if new_record %>
          <%= f.submit "Create", :class => "button" %>
          <% else %>
          <%= f.submit "Update", :class => "button" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>