<!DOCTYPE html>
<html>
  <head>
    <title>Hackimoto</title>
    <link rel="stylesheet" media="screen" href="https://d14pr3cu5atb0x.cloudfront.net/pkg/css/chimera-1ea590d69b.css">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/nav" %>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
